<div class="signin-wrapper">
  <form class="form-signin text-center" (ngSubmit)="onLogin()">
    <img class="mb-4" src="assets/images/alcatel-lucent_logo.png" alt="" width="80%" height="100%">
    <label for="inputEmail" class="sr-only">Email</label>
    <input [(ngModel)]="loginForm.email" type="email" name ="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input [(ngModel)]="loginForm.password" type="password" name ="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019 Omnivista UI Team</p>
  </form>
</div>
